<section class="jumbotron text-center mypage-background">
  <div class="container top-text">
  </div>
</section>

<div class="container">
  <h1>New Brochure</h1>
  <%= render 'form', brochure: @brochure %>
</div>
