// Place all the styles related to the Brochures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  width: 700px;
  height: 610px;
}

.wrapper {
  overflow: hidden;
}

.brochure-left {
  float: left;
  width: 100%;
  margin-right: -700px;
  padding-right: 700px;
  box-sizing: border-box;
}

.brochure-right {
  float: right;
  width: 700px;
}


#checkbox {
  width: 20px;

}

input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}
