// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sub-explain {
  font-size: 10px;
}

#login {
  color: white;

}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}

.card-body h3 {
  padding-bottom: 15px;
}
