// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// html,
// body {
//   height: 100%;
// }
//
// body {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-align: center;
//   align-items: center;
//   padding-top: 40px;
//   padding-bottom: 40px;
//   background-color: #f5f5f5;
// }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.mypage-background {
  background-image: image-url("image3.jpg");
  width: 100%;
  height: 200px;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 0 0 10px;
  object-fit: cover;
  // background-size:100% 100%;
}

.mypage_brochure_no_image {
  width: 200px;
  height: 250px;
  background-color: gray;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 0;
  object-fit: cover;
}

.mypage_brochure_image {
  width: 200px;
  height: 250px;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 0;
  object-fit: cover;
}
